html{height:100%;}
body {overflow:hidden;}


.drop {
    background: url("http://i.imgur.com/f1qMR7M.png");
    width:217px;
    height:52px;
    position: absolute;
    bottom:200px;
    -webkit-animation: fall 2s linear infinite;
    -moz-animation: fall 2s linear infinite;
    animation: fall 2s linear infinite;
}

/* animate the drops*/
@-webkit-keyframes fall {
    to {margin-top:900px;}
}
@-moz-keyframes fall {
    to {margin-top:900px;}
}
@keyframes fall {to{margin-top: 900px;}}
.well-spin {
    width: 100%;
    height: 50%;
    margin-top: 10%;
    -webkit-animation:spin 18s linear infinite;
    -moz-animation:spin 18s linear infinite;
    animation:spin 18s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg) scale(1.4); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg) scale(1.4); } }
@keyframes spin {
 100% { 
  -webkit-transform: rotate(360deg); 
  transform:rotate(360deg) scale(1.4);
 } 
}

.hidden {display: none;}

#rejected {
    color: #d9534f;
    font-size: 2em;
    font-weight: bolder;
}